body {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}



.wrapper{
	width: 100%;
	height: 500px;
	background: url('IMG/textura.png') repeat;
	


}


#texto{
	float: right;
	margin-right: 10%;

}


.titulo{
	
    font-family: 'Raleway', sans-serif;
    font-family: 'Lobster', cursive;
	font-size: 3em;
	color: #D4AF37 ;

}


.pizza{
	margin-left: 10%;
	width: 30%;
	height:35%;
	margin-top: 56px;
}


.titulo-pizza{
	font-size: :2em;
	color: white;
	font-family: Arial, Verdana, sans-serif;
	float: right;
	margin-top: -200px;



}



.contacto {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.contact_form h2, .contact_form label {
    font-family: Georgia, Times, "Times New Roman", serif;
}


.contact_form ul {
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}


.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}


.contact_form h2 {
    margin: 0;
    display: inline;
}

.required_notification {
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right;
}


.contact_form label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.contact_form input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

.contact_form textarea {
    padding: 8px;
    width: 300px;
}

.contact_form button {
    margin-left: 156px;
}


.contact_form input, .contact_form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-top: 5%;
    padding-right: 30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

   

button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

    button.submit:hover {
        opacity: .85;
        cursor: pointer;
    }

    button.submit:active {
        border: 1px solid #20911e;
        box-shadow: 0 0 10px 5px #356b0b inset;
        -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
        -moz-box-shadow: 0 0 10px 5px #356b0b inset;
        -ms-box-shadow: 0 0 10px 5px #356b0b inset;
        -o-box-shadow: 0 0 10px 5px #356b0b inset;
    }


.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  background-color:grey;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.navbar .nav .item {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
	float: left;
	display: inline-block;
	 margin-top: 15px;
    margin-left: 5%;
    width: 50px;
    height: 50px;
    background-size: cover;
    background: url(IMG/logo-pizza-navbar.png);
    -webkit-background-size: cover;
}

.navbar .logo img {
  display: none;
}


.sugerencias {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  margin-bottom: 2%;
  height: 70%;
  width: 100%;
  background-color: white;
    overflow: auto;
}

.op_tomate {
  float: left;
  height: 80px;
  width: 6%;
  background-position: center;
  background-size: 80px 80px;
  background-image: url("IMG/sug_tomate.png");
  background-repeat: no-repeat;
  overflow: auto;
}

.op_anana {
  float: left;
  height: 80px;
  width: 6%;
  background-position: center;
  background-size: 80px 80px;
  background-image: url("IMG/sug_anana.png");
  background-repeat: no-repeat;
  overflow: auto;
}

.op_anchoa {
  float: left;
  height: 80px;
  width: 6%;
  background-position: center;
  background-size: 80px 80px;
  background-image: url("IMG/sug_anchoas.png");
  background-repeat: no-repeat;
  overflow: auto;
}

.op_bacon {
  float: left;
  height: 80px;
  width: 6%;
  background-position: center;
  background-size: 80px 80px;
  background-image: url("IMG/sug_bacon.png");
  background-repeat: no-repeat;
  overflow: auto;
}

.op_champi {
  float: left;
  height: 80px;
  width: 6%;
  background-position: center;
  background-size: 80px 80px;
  background-image: url("IMG/sug_champinon.png");
  background-repeat: no-repeat;
  overflow: auto;
}

.op_maiz {
  float: left;
  height: 80px;
  width: 6%;
  background-position: center;
  background-size: 80px 80px;
  background-image: url("IMG/sug_maiz.png");
  background-repeat: no-repeat;
  overflow: auto;
}

.op_txt {
  float: left;
  position:relative;
  margin-right: 4%;
  height: 80px;
  width: 40%;
  text-align: center;
  font-family: verdana;
  background-color: white;
  color: black;
  font-size: 2rem;
  overflow: auto;
}